.contact-container {
  display:flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
background-image: url('../assets/contact.png');
background-size: cover;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #301934;
  color: #C0C0C0;
  font-size: 28px;
  height: 300px;
  width: 350px;
  border-radius: 10px;
  line-height: 1.8;
  
  border: 8px solid #C0C0C0;
  margin-top: 14%
}

.contact-detail-wrappers {
  display: flex;
  align-items: center;
  color: #C0C0C0;
  
}
#in-touch {
  font-size: 38px;
}
.contact {
  display: flex;
  flex-direction: column;
}

/* unvisited link */
.contact a:active {
  color: #C0C0C0;
  text-decoration: none;
}

/* visited link */
.contact a:visited {
  color: #C0C0C0;
  text-decoration: none;
}

/* mouse over link */
.contact a:hover {
  color: #FFFF8F;
  text-decoration: none;
}

#email {
  color: #C0C0C0;
}
@media only screen and (max-width: 800px) {
  .contact-info {
    margin-top: 50%;
    height: 220px;
    width: 250px;
    font-size: 20px
  }
#in-touch {
  font-size: 28px;
}
}