
#projects-title {
  padding: 80px;
  font-size: 50px;
  color: #023020;
}

.projects-display {
  background-color: #FFD700;
  display:  flex;
  flex-direction: column;
  align-items: center;

  

}
.individual-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%
}
#nibbler {
  width: 340px;
  height: 220px;
  background-image: url('../assets/nibbler.png');
  background-size: cover;
  border-radius: 3px;
  margin: 30px;
border: 2px solid #C0C0C0;
    border-radius: 10px;
    box-shadow: 21px 18px 27px 8px rgba(38, 38, 38, 0.68)
}

#doggopedia {
  width: 340px;
  height: 220px;
  background-image: url('../assets/doggopedia.png');
  background-size: cover;
  border-radius: 3px;
  margin: 30px;
border: 2px solid #353935;
    border-radius: 10px;
box-shadow: 21px 18px 27px 8px rgba(38, 38, 38, 0.68)

}

#purely {
  width: 340px;
  height: 220px;
  background-image: url('../assets/purely.png');
  background-size: cover;
  background-position: 45%;
  border-radius: 3px;
  margin: 30px;
  border: 2px solid #353935;
  border-radius: 10px;
  box-shadow: 8px 8px 27px 8px rgba(38, 38, 38, 0.68)

}

#ecomo {
  width: 340px;
  height: 220px;
  background-image: url('../assets/ecomo.png');
  background-size:cover;
  background-position: 35%;
  border-radius: 3px;
  margin: 30px;
  border: 2px solid #353935;
  border-radius: 10px;
  box-shadow: 21px 18px 27px 8px rgba(38, 38, 38, 0.68)

}
.project-titles {
  font-size: 30px;
  margin-bottom: 15px;

}

.project-links {
  display: inline-flex;
  margin-top: 15px;
  
}
.each-project {
  display: flex;
  flex-direction: row;
  padding: 25px
}
.project-info {
  display: flex;
  flex-direction: column;
  min-width: none;
  max-width: 700px;
  padding: 30px;
  margin-left: 70px;
  border: 6px solid #353935;
  background-color: #C0C0C0;
  border-radius: 10px;
  color: #023020;
}

.project-links {
  font-size: 20px;
  margin-right: 20px
}

.project-links a:hover {
  color: #301934;
  text-decoration: underline;
}
.project-links a:active {
  color: #301934;
}
.project-links a:visited {
  color: #301934;
}
.project-links path {
  color: #301934;
}

@media only screen and (max-width: 800px) {
 #purely {
    display: none;
  }
  #ecomo {
    display: none
  }
  #doggopedia {
    display: none;
  }
  #nibbler {
    display: none;
  }
  .project-info {
    margin: 0 auto
  }
  #projects-title {
    display: none;
    }
}
