.projects-display {
  background-color: #FFD700;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-title {
  padding: 80px;
  font-size: 120px;
  color:#301934;
}


.each-project {
  display: flex;
  flex-direction: row;
  padding: 25px;
  margin-bottom: 70px;
}

.individual-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%
}

#nibbler {
  width: 460px;
    height: 302px;
  background-image: url('../assets/nibbler.png');
  background-size: cover;
  border-radius: 3px;
  margin: 0 auto;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
  box-shadow: 8px 8px 27px 8px rgba(38, 38, 38, 0.68);
}
#nibbler:hover {
  transform: scale(1.4);
  transition:duration 1s;
}

#doggopedia {
  width: 460px;
  height: 302px;
  background-image: url('../assets/doggopedia.png');
  background-size: cover;
  border-radius: 3px;
  margin: 0 auto;
  border: 2px solid #353935;
  border-radius: 10px;
  box-shadow: 8px 8px 27px 8px rgba(38, 38, 38, 0.68);  
}
#doggopedia:hover {
  transform: scale(1.4);
  transition:duration 1s;
}

#purely {
  width: 460px;
  height: 302px;
  background-image: url('../assets/purely.png');
  background-size: cover;
  background-position: 45%;
  border-radius: 3px;
  margin: 0 auto;
  border: 2px solid #353935;
  border-radius: 10px;
  box-shadow: 8px 8px 27px 8px rgba(38, 38, 38, 0.68);
}
#purely:hover {
  transform: scale(1.4);
  transition: duration 1s;
}

#ecomo {
  width: 460px;
  height: 302px;
  background-image: url('../assets/ecomo.png');
  background-size:cover;
  background-position: 35%;
  border-radius: 3px;
  margin: 0 auto;
  border: 2px solid #353935;
  border-radius: 10px;
  box-shadow: 8px 8px 27px 8px rgba(38, 38, 38, 0.68);
}
#ecomo:hover {
  transform: scale(1.4);
  transition: duration 1s;
}


.project-titles {
  font-size: 30px;
  margin-bottom: 15px;
}

.project-links {
  display: inline-flex;
  margin-top: 15px;
}


.project-info {
  display: flex;
  flex-direction: column;
  min-width: none;
  max-width: 700px;
  padding: 30px;
  margin-left: 70px;
  margin-bottom: 10px;
  border: 6px solid #353935;
  background-color: #C0C0C0;
  border-radius: 10px;
  color: #023020;
  box-shadow: 8px 8px 27px 8px rgba(38, 38, 38, 0.68);
}

.project-links {
  font-size: 20px;
  margin-right: 20px
}

.project-links a:hover {
color: #483248;
  text-decoration: underline;
}
.project-links a:active {
  color: #483248;
}
.project-links a:visited {
  color: #483248;
}
.project-links path {
  color: #483248;
}
#nibbler-website {
  color: #483248;
}
#nibbler-readme {
  color:#483248;
}
#doggopedia-website{
  color: #483248;
}
#doggopedia-readme{
  color: #483248;
}
#purely-website {
  color: #483248;
}
#purely-readme {
  color:#483248;
}
#ecomo-website{
color: #483248;
}
#ecomo-readme{
color: #483248;
}

@media only screen and (max-width: 800px) {
 #purely {
    display: none;
  }
  #ecomo {
    display: none
  }
  #doggopedia {
    display: none;
  }
  #nibbler {
    display: none;
  }
  .project-info {
    margin: 0 auto
  }
  #projects-title {
    display: none;
    }
}
